* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 8fr;
  height: 100vh;
  background-color: rgb(225, 225, 225);
  padding: 15px;
  gap: 15px;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: rgb(65, 65, 65);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.header h1 {
  font-family: "Jersey 15";
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 4rem;
  padding-left: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.sidebar h2 {
  font-family: "Jersey 15";
  color: rgb(48, 48, 48);
  font-size: 2rem;
  margin-bottom: 5px;
}

.task-section {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: rgb(225, 225, 225);
}

.task-form {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 90px;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.task-form input {
  background-color: rgb(225, 225, 225);
  border: none;
  height: 40px;
  width: 150px;
  box-shadow: inset 0 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-indent: 5%;
}

.task-form div {
  display: flex;
  flex-direction: column;
}

#date {
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(62, 62, 62);
}

select {
  background-color: rgb(225, 225, 225);
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 150px;
  text-indent: 5%;
  color: rgb(62, 62, 62);
  box-shadow: inset 0 0px 6px rgba(0, 0, 0, 0.2);
}

label {
  color: rgb(62, 62, 62);
  font-weight: 700;
  padding-left: 10px;
}

#add-task {
  position: relative;
  top: 9px;
  border: none;
  background-color: rgb(26, 167, 30, 0.5);
  height: 40px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  color: rgb(29, 106, 25);
  cursor: pointer;
}

.project-form {
  margin-top: 10px;
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 90px;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}

.project-form input {
  background-color: rgb(225, 225, 225);
  border: none;
  height: 40px;
  width: 100%;
  box-shadow: inset 0 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-indent: 5%;
}

#add-project {
  position: relative;
  top: 9px;
  border: none;
  background-color: rgb(26, 167, 30, 0.5);
  height: 40px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  font-weight: 300;
  color: rgb(29, 106, 25);
  cursor: pointer;
  font-size: 2rem;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: rgb(225, 225, 225);
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.project-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100px;
  background-color: rgb(65, 65, 65);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  border: none;
}

.project-card.active {
  background-color: rgb(26, 167, 30, 0.5);
  color: rgb(29, 106, 25);
  border: none;
}

.project-card:hover {
  background-color: rgb(26, 167, 30, 0.5);
  color: rgb(29, 106, 25);
}

.project-card h1:hover {
  color: rgb(29, 106, 25);
}

.task-card {
  overflow: hidden;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 0.1fr 5fr;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
}

.card-top {
  position: relative;
  align-items: center;
  display: flex;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 100%;
  gap: 20px;
  position: relative;
  left: 20px;
}

.card-bottom {
  display: flex;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  position: relative;
  left: 20px;
  gap: 20px;
}

.priority {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
}

.delete-button {
  opacity: 0.5;
  position: absolute;
  left: 90%;
  bottom: 70%;
  cursor: pointer;
  border: none;
  background: url("../public/images/grey-cross.png");
  background-size: contain;
  width: 15px;
  height: 15px;
}

.delete-button:hover {
  opacity: 1;
}

.delete-task {
  opacity: 0.8;
  border: none;
  cursor: pointer;
  background: url("../public/images/trash.png");
  background-size: contain;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 93%;
  bottom: 75%;
}

.delete-task:hover {
  opacity: 1;
}
